.line-chart{
    width: 100%;
    min-width: 300px;
    max-width: 850px;
    /* background-color: beige; */
    
    margin: 0px auto;
    box-sizing: border-box;
}
/* 
.update-Comp{
    display: none;
} */